[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = US
ST = NJ
L = NEWARK
O = NJIT
OU = IT490
CN = 172.19.0.4
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = *.yourfirst.domain
DNS.2 = *.yoursecond.domain
